{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const userTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    
                // Check if the timezone is already set to avoid unnecessary calls
                if (!document.cookie.includes(`timezone=${userTimezone}`)) {
                    fetch('/set_timezone/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ timezone: userTimezone })
                    }).then(response => {
                        if (response.ok) {
                            console.log('Timezone updated successfully');
                        }
                    }).catch(error => {
                        console.error('Error updating timezone:', error);
                    });
                }
            });
        </script>
        <title>{% block title %} Daily Dose of Trivia {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">        <link rel="stylesheet" href="{% static 'dailytrivia/static/style.css' %}">
    </head>
    <body>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand alt-font" href="{% url 'index' %}">Daily Dose of Trivia</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">All Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bookmarked' %}">Your Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_trivia' %}">Add a Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dailytrivia/profile/{{ user.username }}">Your Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>